# personal files
MISC.md
todo.txt
.env
.env.*
datasets/*
references/
.vscode/
checkpoints/
logs/
train_old.py
tokenizer_old.py

# bloat
__pycache__
.venv/
__pycache__/
*.py[cod]
.DS_Store
*.egg-info/
